.footer-support__image-container {
    position: relative;
}

.footer-support__picture {
    display: block;
    width: 100%;
}

.footer-support__img {
    width: 100%;
    height: 215px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.footer-support__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 20px;
}

.footer-support__title {
    text-align: center;
    color: #002c58;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.footer-support__methods {
    display: flex;
    justify-content: space-around;
}

.footer-support__method {
    position: relative;
    list-style: none;
}

.footer-support__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
}

.footer-support__icon {
    background: #f59a1f;
    border-radius: 5px;
    padding: 12px 15px;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
}

.footer-support__icon img {
    display: block;
}

.footer-support__text {
    color: #424445;
    text-align: center;
    position: relative;
    padding: 5px;
    font-size: 16px;
    font-weight: 700;
}

.footer-support__text p {
    margin: 0;
}

.footer-support__center {
    margin-top: 20px;
}

.footer-support__center-title {
    font-size: 16px;
    color: #424445;
    text-align: center;
    position: relative;
    margin: 0;
}

.footer-support__center-title::before,
.footer-support__center-title::after {
    content: '';
    position: absolute;
    width: 130px;
    height: 1px;
    background: #424445;
    top: 50%;
    transform: translateY(-50%);
}

.footer-support__center-title::before {
    left: 0;
}

.footer-support__center-title::after {
    right: 0;
}

.footer-support__center-link {
    color: #6995c3;
    font-weight: 700;
    text-decoration: underline;
}

/* Ադապտիվ դիզայն */
@media (max-width: 1024px) {
    .footer-support__content {
        width: 60%;
        left: 0;
        right: auto;
        margin: 0 auto;
    }
    
    .footer-support__text {
        padding: 5px 0;
        text-align: left;
        margin-bottom: 0;
    }
    
    .footer-support__text::before {
        content: '→';
        position: absolute;
        right: -15px;
        top: 0;
        font-size: 20px;
        font-weight: 700;
        color: #424445;
    }
}

@media (max-width: 767px) {
    .footer-support__title {
        font-size: 17px;
        margin-bottom: 25px;
    }
    
    .footer-support__text {
        padding: 5px 0;
        text-align: left;
    }
    
    .footer-support__text::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background-image: url(../../src/assets/home/best-seller/icon/next.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        right: -10px;
        top: 9px;
    }
    
    .footer-support__center-title::before,
    .footer-support__center-title::after {
        width: 40px;
    }
    
    .footer-support__content {
        width: 100%;
    }
    
    .footer-support__img {
        height: 450px;
    }
}

@media (max-width: 375px) {
    .footer-support__img {
        height: 450px;
    }
}

@media (max-width: 320px) {
    .footer-support__img {
        height: 400px;
    }
    
    .footer-support__center-title::before,
    .footer-support__center-title::after {
        width: 18px;
    }
    
    .footer-support__icon {
        padding: 10px 12px;
    }
}