/* ===== CATEGORIES SECTION ===== */
.categories {
    padding: 60px 0;
    background: #f9fafb;
}

.categories__container {
    max-width: 94%;
    margin: 0 auto;
    padding: 0 15px;
}

.categories__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.categories__item {
    width: 20%;
    border-right: 1px solid #e9e7f2;
    border-bottom: 1px solid #e9e7f2;
}

.categories__item:nth-child(5n) {
    border-right: none;
}

.categories__item:nth-child(n+6) {
    border-bottom: none;
}

/* ===== CATEGORY CARD ===== */
.categories .category-card {
    text-align: center;
    padding: 25px 20px 35px;
    background: #f9fafb;
    position: relative;
    transition: all 0.4s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-card:hover {
    background: #fff;
    box-shadow: 5px 5px 18px rgba(24, 66, 66, 0.2);
}

.category-card__image {
    margin-bottom: 10px;
    height: 130px;
    flex-shrink: 0;
}

.category-card__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.categories .category-card__link {
    font-size: 18px;
    color: #002d58;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    padding-top: 10px;
}

.category-card__link:hover {
    color: #002d58;
}

/* ===== RESPONSIVE ===== */
@media only screen and (max-width: 1024px) {
    .categories__item {
        width: 50%;
    }
    
    .categories__item:nth-child(2n) {
        border-right: none;
    }
    
    .categories__item:nth-child(odd) {
        border-right: 1px solid #e9e7f2;
    }
    .categories__items {
        border: 1px solid #e9e7f2;
    }
    .categories__item:nth-child(n+5) {
        border-bottom: 1px solid #e9e7f2;
    }
    
    .categories__item:nth-child(n+9) {
        border-bottom: none;
    }
    
    .category-card__link {
        font-size: 15px;
        line-height: 15px;
    }
    
    .category-card {
        padding: 25px 15px 50px;
    }
}

@media only screen and (max-width: 767px) {
    .category-card__link {
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .category-card {
        padding: 20px 15px 45px;
    }
    
    .category-card__image {
        height: 100px;
    }
}