/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Banner block */
.banner {
    width: 100%;
    overflow: hidden;
}

.banner__container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.banner__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.banner__col--full {
    flex: 0 0 100%;
    max-width: 100%;
}

.banner__slider {
    position: relative;
    overflow: hidden;
}

.banner__slider-wrapper {
    position: relative;
    width: 100%;
}

/* Banner item element */
.banner__item {
    display: none;
    width: 100%;
}

.banner__item--active {
    display: block;
}

.banner__image-container {
    position: relative;
    width: 100%;
}

.banner__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.banner__link:hover {
    text-decoration: none;
}

.banner__picture {
    display: block;
    width: 100%;
    line-height: 0; /* Remove extra space below image */
}

.banner__image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    display: block;
    width: 100%;
}

/* No navigation or dots needed since there's only one slide */ 